

<div class="profile" data-th-fragment="menu-profile-quick-info" xmlns:th="http://www.thymeleaf.org">
    <div class="profile_pic">
        <img src="/images/img.jpg" alt="..." class="img-circle profile_img">
    </div>
    <div class="profile_info">
        <span>Bienvenido,</span>
        <h2 th:text="${session.username}"></h2>
       <!--  <input type="hidden" th:text="${session.idRol}"> -->
        
    </div>
</div>
