<div id="sidebar-menu" class="main_menu_side hidden-print main_menu" data-th-fragment="sidebar-menu" >
    <div class="menu_section" xmlns:th="http://www.thymeleaf.org">
        <h3>Menu</h3>
                 
        <ul class="nav side-menu">
        
            <li id="menuAdmin" th:if="${session.idRol}==2"   ><a><i class="fa fa-home"></i> Admin <span class="fa fa-chevron-down"></span></a>
            
                <ul class="nav child_menu">
                    <li><a href="/admin/users"><i class="fa fa-user"></i> Usuarios</a> </li>
                    <li><a href="/admin/news"><i class="fa fa-edit"></i> Noticias </a></li>
                    <li><a><i class="fa fa-desktop"></i> Requerimientos </a></li> 
                    <li><a><i class="fa fa-table"></i> Bienestar Laboral </a></li>
                   <li><a><i class="fa fa-bug"></i> N&oacutemina </a></li>                          		
				</ul>
            </li>
            <li><a href="/news"><i class="fa fa-edit"></i> Noticias <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">                   
                    <li><a href="#form_wizards.html">Buscar</a></li>
                    
                </ul>
            </li>
            <li><a><i class="fa fa-desktop"></i> Requerimientos <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="#general_elements.html">Buscar</a></li>                                                       
               </ul>
            </li>
            <li><a><i class="fa fa-table"></i> Bienestar Laboral <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="#tables.html">Buscar</a></li>                   
                </ul>
            </li>
          <li><a><i class="fa fa-table"></i> N&oacutemina <span class="fa fa-chevron-down"></span></a> </li>
        </ul>
    </div>


</div>

