<footer data-th-fragment="footer-content">
    <div class="pull-right">
        Intranet -LUCY by <a href="https://www.interrapidisimo.com" target="_blank">Interrapidisimo</a>
    </div>
          <div style="font-size:12px">
            	<p><span>Fecha y hora Actual: </span><span id="Fecha_Reloj"></span></p>
            <p><span>Su &uacuteltima visita fue: </span> 28 de Diciembre de 2017. 03:05:00 p.m</p>
            </div>
    <div class="clearfix"></div>
</footer>