<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{fragments/layout}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Contratos</title>
</head>

<body>
<div class="right_col" role="main" data-layout-fragment="content">
    
    <ul>
    
	    <li th:each="car : ${cargos}">
	    	<span th:text="${car}"></span>
	    </li>
    
    </ul>
    
    
</div>
</body>
</html>
