<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{fragments/layout}" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Usuarios </title>

   
  </head>

<body>
   <div class="" role="" data-layout-fragment="content">
                                           
        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
 
            <div class="clearfix"></div>

            <div class="row">

              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Usuarios <small>Todos los usuarios creados.</small></h2>
     
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
					<p><a href="/admin/users/new" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span>Agregar</a>
	 				<div class="table-responsive">
									<table class="table table-striped table table-bordered">
										<thead>
											<tr class="headings">

												<th class="column-title">Identificación</th>
												<th class="column-title">Usuario</th>
												<th class="column-title">Rol</th>
												<th class="column-title">Estado</th>
												<th class="column-title no-link last"><span
													class="nobr">Acción</span></th>

											</tr>
										</thead>

										<tbody>
											<tr class="even pointer" th:each="user : ${Usuarios}">
												<td th:text="${user.Id_llave}"></td>
												<td th:text="${user.usuario}"></td>
												<td th:text="${user.Nombre_rol}"></td>
											    <td th:text="${user.estado}"></td>
											    <td><a href="#" th:href="@{/admin/users/edit/__${user.Id_llave}__}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
											    <a href="#" th:href="@{/admin/users/remove?id=__${user.Id_llave}__}" ><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
											    </td>
											</tr>


										</tbody>

									</table>
								</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->

      
    </div>
	

</body>
</html>