<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{fragments/layout}" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div class="right_col" role="main" data-layout-fragment="content">

	<!-- start of weather widget -->
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <div class="x_panel">
                    <div class="x_title">
                      <h2>PRONOSTICO DEL CLIMA ESTA SEMANA <small></small></h2>                      


                      <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                     
                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                      </ul>
                      <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                    
                     <!--  <div class="row">
                        <div class="col-sm-12">
                       
                          <div class="temperature"><b th:text="${#dates.day(date)}">Lun</b>, 07:30 AM
                            <span>F</span>
                            <span><b>C</b></span>
                          </div>
                        </div>
                      </div> -->
                      
                      
                      <div class="row">
                        <div class="col-sm-4">
                          <div class="weather-icon">
                            <canvas height="84" width="84" id="icon1"></canvas>
                          </div>
                        </div>
                        <div class="col-sm-8">
                          <div class="weather-text">
                            <h2>Bogot&aacute <br><i>D&iacutea parcialmente nublado</i></h2>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-12">
                        <div class="weather-text pull-right">
                          <h3 class="degrees">23</h3>
                        </div>
                      </div>

                      <div class="clearfix"></div>

                      <div class="row weather-days">
                        <div class="col-sm-2">
                          <div class="daily-weather">
                            <h2 class="day">Mon</h2>
                            <h3 class="degrees">25</h3>
                            <canvas id="icon2" width="32" height="32"></canvas>
                            <h5>15 <i>km/h</i></h5>
                          </div>
                        </div>
                        <div class="col-sm-2">
                          <div class="daily-weather">
                            <h2 class="day">Tue</h2>
                            <h3 class="degrees">25</h3>
                           <canvas id="icon3" width="32" height="32"></canvas>
                            <h5>12 <i>km/h</i></h5>
                          </div>
                        </div>
                        <div class="col-sm-2">
                          <div class="daily-weather">
                            <h2 class="day">Wed</h2>
                            <h3 class="degrees">27</h3>
                            <canvas id="icon4" height="32" width="32" ></canvas>
                            <h5>14 <i>km/h</i></h5>
                          </div>
                        </div>
                         <div class="col-sm-2">
                          <div class="daily-weather">
                            <h2 class="day">Thu</h2>
                            <h3 class="degrees">28</h3>
                 <canvas  id="icon5" height="32" width="32" ></canvas>
                            <h5>15 <i>km/h</i></h5>
                          </div>
                        </div> 
                        <div class="col-sm-2">
                          <div class="daily-weather">
                            <h2 class="day">Fri</h2>
                            <h3 class="degrees">28</h3>
                <canvas id="icon6" height="32" width="32"></canvas>
                            <h5>11 <i>km/h</i></h5>
                          </div>
                        </div> 
                         <div class="col-sm-2">
                          <div class="daily-weather">
                            <h2 class="day">Sat</h2>
                            <h3 class="degrees">26</h3>
                <canvas id="icon7" height="32" width="32" ></canvas>
                            <h5>10 <i>km/h</i></h5>
                          </div>
                        </div> 
                        
                        <div class="clearfix"></div>
                      </div>
                    </div>
                  </div>

                </div>
                <!-- end of weather widget -->
                <script src="/js/skycons.js"></script>
                
<script>
  var skycons = new Skycons({"color": "gray"});
  // on Android, a nasty hack is needed: {"resizeClear": true}

  // you can add a canvas by it's ID...
  skycons.add("icon1", Skycons.PARTLY_CLOUDY_DAY);

  // ...or by the canvas DOM element itself.
  skycons.add(document.getElementById("icon2"), Skycons.RAIN);
  skycons.add(document.getElementById("icon3"), Skycons.WIND);
  skycons.add(document.getElementById("icon4"), Skycons.FOG);
  skycons.add(document.getElementById("icon5"), Skycons.CLEAR_NIGHT);
  skycons.add(document.getElementById("icon6"), Skycons.PARTLY_CLOUDY_DAY);
  skycons.add(document.getElementById("icon7"), Skycons.SLEET);
  // if you're using the Forecast API, you can also supply
  // strings: "partly-cloudy-day" or "rain".

  // start animation!
  skycons.play();

  // you can also halt animation with skycons.pause()

  // want to change the icon? no problem:
  skycons.set("icon1", Skycons.PARTLY_CLOUDY_NIGHT);
  skycons.set("icon2", Skycons.CLEAR_DAY);

  // want to remove one altogether? no problem:
  skycons.remove("icon2");
</script>
</div>
</body>
</html>