<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{fragments/layout}" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Usuarios </title>

   
  </head>

<body>
   <div class="" role="" data-layout-fragment="content">
                                           
        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
 
            <div class="clearfix"></div>

            <div class="row">

              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>NOTICIAS <small></small></h2>
     
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                  
                    <div class="col-md-7 col-sm-7 col-xs-12">
                      <div class="product-image">
                        <img src="/images/newyear.jpg" alt="..." width="770px" height="513px" />
                      </div>
                   <div class="product_gallery">
                        <a>
                          <img src="/images/year2.jpg" alt="..." />
                        </a>
                        <a>
                          <img src="/images/year3.jpg" alt="..." />
                        </a>
                        <a>
                          <img src="images/year4.jpg" alt="..." />
                        </a>
                        
</div>
                    </div>
                  
                    <div class="col-md-5 col-sm-5 col-xs-12" style="border:0px solid #e5e5e5;" th:each="news : ${News}">

                      <h3 class="prod_title" th:text="${news.Titulo_noticia}"></h3><small th:text="${news.Fecha_Noticia}"></small>

                      <p th:text="${news.Descripcion}"></p>
                      <br />

                    
                      <br />

                      <br />

                     

                     

                      <div class="product_social">
                        <ul class="list-inline">
                          <li><a href="#"><i class="fa fa-facebook-square"></i></a>
                          </li>
                          <li><a href="#"><i class="fa fa-twitter-square"></i></a>
                          </li>
                          <li><a href="#"><i class="fa fa-envelope-square"></i></a>
                          </li>
                          <li><a href="#"><i class="fa fa-rss-square"></i></a>
                          </li>
                        </ul>
                      </div>

                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->

      
    </div>
	

</body>
</html>